
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet"  type="text/css" href="{% static 'style.css'%} "  />
<link rel="stylesheet"   type="text/css" href="{% static 'coin-slider.css'%}" />

<script type="text/javascript" src="{% static 'cufon-yui.js'%} "></script>
<script type="text/javascript" src="{% static 'cufon-aller.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery-1.4.2.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script.js'%}"></script>
<script type="text/javascript" src="{% static 'coin-slider.min.js'%}"></script>
<style type="text/css">
<!--
.style5 {
	font-size: 24px;
	color: #FF0000;
}
.style12 {font-weight: bold}
.style13 {font-size: 24px; color: #FF0000; font-weight: bold; }
.style17 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>

</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <p>&nbsp;</p>
      </div>
      <div class="mainbar">
        <h1 align="center"><a href="index.html"><span class="content style5">An improved method of detecting multiple types of drug-drug interactions using only known drug-drug interactions</span></a></h1>



        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
    <div class="alert alert-primary text-white font-weight-bold" role="alert">
     <p align="center"><span class="active"><span class="style12"><a href="{% url 'index' %}">Home|  </a><a href="{% url 'login' %}">Remote User </a>|<a href="{% url 'serviceproviderlogin' %}"> Service Provider </a></span></span></p>
    </div>
    <div>
</div>


     </div>
      <div class="clr"></div>
      <div class="slider">
        
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div align="center"><span class="style13">Machine learning, Drug-drug Interaction (DDI); Deep neural network; Graph similarity;
Adjacency matrix factorization with propagation multi-class(AMFPMC)</span>
        </div>
        <div class="article">
          <h2 align="center" class="style13"> </h2>
          <div class="img">
            <div align="center"><img src="{% static 'img1.jpg'%}" width="630" height="221" alt="" class="fl" /></div>
          </div>
          <div class="post_content">
            <p align="center" class="style17">In this article we address the drug-drug interaction issue as a link prediction
problem and extend a method proposed by Shtar et al [1], which uses artificial neural
networks and propagation over graph nodes in order to consider specific interactions
when detecting drug-drug interactions. After extracting and analyzing the possible
interactions, a table which presents the interactions as a one-hot vector between each
pair of drugs is created. Then, a deep neural network (DNN) is used as a predictor. in
the training stage, receiving two vectors in which the corresponding indexes are two
drugs with a specific interaction, and then, predicting an interaction for two drugs
with an unknown interaction.</p>
          </div>

        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
    <div class="alert alert-primary text-white font-weight-bold" role="alert">
     <p align="center"><span class="active"><span class="style12"><a href="{% url 'login' %}">Home|  </a><a href="{% url 'login' %}">Remote User </a>|<a href="{% url 'serviceproviderlogin' %}"> Service Provider </a></span></span></p>
    </div>
    <div>
</div>
          <div class="clr"></div>
        </div>
      </div>
      <div class="sidebar">
        <div class="searchform"></div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg"></div>
  <div class="footer"></div>
</div>
<div align=center></div>
</body>
</html>
